@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
button {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.grid-container {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.button {
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  border: 1px solid hsl(0, 0%, 30%);
}

@keyframes lock-shackle {
  0% {
    transform: translateY(0px) scale(1.05);
  }
  70% {
    transform: translateY(-4px) scale(1.05);
  }
  0% {
    transform: translateY(0px) scale(1.05);
  }
}
@keyframes lock-hole {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-2px);
  }
  0% {
    transform: translateY(0px);
  }
}
@keyframes lock-box {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-4px);
  }
  0% {
    transform: translateY(0px);
  }
}

.animation-lock-shackle {
  transform-origin: center bottom;
  animation: lock-shackle 450ms ease-in-out;
}
.animation-lock-hole {
  animation: lock-hole 450ms ease-out;
}
.animation-lock-box {
  animation: lock-box 450ms ease-in-out;
}
